name: Gdal image builds
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/gdal.yml'
      - 'gdal/**'
  pull_request:
    branches:
      - 'main'
    paths:
      - '.github/workflows/gdal.yml'
      - 'gdal/**'
  schedule:
     - cron: "15 5 25 * *"

env:
  SUBDIR: gdal

jobs:
  docker:
    strategy:
      matrix:
        gdal_type: [ubuntu-small, ubuntu-full]
        gdal_version: [latest, 3.12.1, 3.11.5, 3.10.3, 3.9.3, 3.8.5, 3.8.3 ]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./${ env.SUBDIR }
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            bigibas123/${{ env.SUBDIR }}
          labels: |
            org.opencontainers.image.title="Gdal development image"
            org.opencontainers.image.description="A gdal derived image with some development tools installed"
            org.opencontainers.image.base.name="ghcr.io/osgeo/gdal:${{ matrix.gdal_type }}-${{ matrix.gdal_version }}"
            org.opencontainers.image.licenses="MIT-0"
            org.opencontainers.image.vendor="${{ github.repository_owner }}"
            org.opencontainers.image.authors="${{ github.repository_owner }}
            org.opencontainers.image.url="https://github.com/bigibas123/random-docker-images/"
            org.opencontainers.image.documentation="https://github.com/bigibas123/random-docker-images/"
            org.opencontainers.image.source="${{ github.repositoryUrl }}"
          flavor: |
            latest=auto
          tags: |
            type=schedule,prefix=${{ matrix.gdal_type }}-${{ matrix.gdal_version }}-
            type=schedule,pattern={{date 'YYYYMMDD' tz='Europe/Amsterdam'}},prefix=${{ matrix.gdal_type }}-${{ matrix.gdal_version }}-
            type=raw,value={{date 'YYYYMMDDHHmm' tz='Europe/Amsterdam'}},enable=${{ github.ref == format('refs/heads/{0}', 'main') }},prefix=${{ matrix.gdal_type }}-${{ matrix.gdal_version }}-
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: "{{defaultContext}}:${{ env.SUBDIR }}"
          provenance: mode=max
          sbom: true
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            GDAL_VERSION=${{ matrix.gdal_type }}-${{ matrix.gdal_version }}
